{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author.name }}
{{ end }}

{{ define "main" }}

<div>
    <div class="listHeader">
        {{ $section := .Section }}
        {{ $sectionTitle := .Title }}
        {{ if eq $section "blog" }}
            {{ $sectionTitle = i18n "blog" }}
        {{ else if eq $section "project" }}
            {{ $sectionTitle = i18n "projects" }}
        {{ else if eq $section "article" }}
            {{ $sectionTitle = i18n "articles" }}
        {{ else if eq .Type "tags" }}
            {{ $sectionTitle = printf "%s: %s" (i18n "tags" | title) .Title }}
        {{ else if eq .Type "categories" }}
            {{ $sectionTitle = printf "%s: %s" (i18n "categories" | title) .Title }}
        {{ else if eq .Type "series" }}
            {{ $sectionTitle = printf "%s: %s" (i18n "series" | title) .Title }}
        {{ end }}
        <h1>{{ $sectionTitle }}</h1>
        {{ if and (eq .Type "tags") (ne .Title "Tags") }}
            <p>{{ i18n "tag_posts_description" }} <strong>{{ .Title }}</strong></p>
            <div class="backToTaxonomy">
                <a href="{{ "/tags" | relLangURL }}" class="backButton">{{ i18n "back_to_all_tags" }}</a>
            </div>
        {{ else if and (eq .Type "categories") (ne .Title "Categories") }}
            <p>{{ i18n "category_posts_description" }} <strong>{{ .Title }}</strong></p>
            <div class="backToTaxonomy">
                <a href="{{ "/categories" | relLangURL }}" class="backButton">{{ i18n "back_to_all_categories" }}</a>
            </div>
        {{ else if and (eq .Type "series") (ne .Title "Series") }}
            <div class="backToTaxonomy">
                <a href="{{ "/series" | relLangURL }}" class="backButton">{{ i18n "back_to_all_series" }}</a>
            </div>
        {{ end }}
    </div>

    {{ with .Content }}
    <div class="listContent">
        {{- . -}}
    </div>
    {{ end }}

    <div>
        {{ range .Pages }}

        <a class="postListLink" href="{{ .Permalink }}">
            <!-- [html-validate-disable-next prefer-native-element] -->
            <div class="postListItem{{ if eq .Site.Params.listStyle "minimal" }} postListItem--minimal{{ end }}" role="listitem">
                <div class="postHeader">
                    <span class="postTitle">{{ .Title }}</span>
                </div>
                {{ if eq .Site.Params.listStyle "minimal" }}
                    <div class="postMeta">
                        {{ $formattedDateTime := .Date.Format "2006-01-02T15:04:05Z07:00" }}
                        {{ $dateFormat := i18n "date_format_short" }}
                        <span class="postMetaDivider">d:</span>
                        <span class="postMetaText"><time class="postDate" datetime="{{ $formattedDateTime }}">{{ .Date.Format $dateFormat }}</time></span>
                        {{ with .GetTerms "tags" }}
                            <span class="postMetaDivider">t:</span>
                            <span class="postMetaText">
                                {{ range $index, $tag := . }}{{ if $index }} {{ end }}#{{ $tag.Name }}{{ end }}
                            </span>
                        {{ end }}
                    </div>
                {{ else }}
                    <div class="postExcerpt">
                        <p>{{ .Summary }}</p>
                    </div>
                    <div class="postMeta">
                        {{ $formattedDate := .Date.Format "2006-01-02" }}
                        {{ $dateFormat := i18n "date_format_short" }}
                        <span class="postMetaDivider">d:</span>
                        <span class="postMetaText"><time class="postDate" datetime="{{ $formattedDate }}">{{ .Date.Format $dateFormat }}</time></span>
                        {{ with .GetTerms "tags" }}
                            <span class="postMetaDivider">t:</span>
                            <span class="postMetaText">
                                {{ range $index, $tag := . }}{{ if $index }} {{ end }}#{{ $tag.Name }}{{ end }}
                            </span>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
        </a>

        {{end}}
    </div>
</div>

{{ end }}